kornia==0.5.0
transformers
torchmetrics
opencv_contrib_python==4.8.1.78
opencv_python_headless==4.8.1.78
tensorflow==2.11.0
waymo-open-dataset-tf-2-11-0==1.6.1
pytorch_lightning==2.0.3
imageio
imageio-ffmpeg
icecream
ipdb==0.13.13
line_profiler==4.1.1
matplotlib
numpy==1.21.5
open3d==0.16.0
openai==0.28.1
pyquaternion
PyYAML
Requests
scipy
Shapely
skylibs==0.7.4
termcolor
tqdm
trimesh
joblib
pandas
albumentations==0.5.2
hydra-core
tabulate
webdataset
timm
wldhx.yadisk-direct
jpeg4py
lmdb
pudb
omegaconf
test-tube>=0.7.5
streamlit>=0.73.1
einops
packaging
easydict
gdown