icecream==2.1.3
imageio==2.31.5
ipdb==0.13.13
kornia==0.5.0
line_profiler==4.1.1
matplotlib
numpy==1.21.5
open3d==0.16.0
openai==0.28.1
opencv_contrib_python==4.8.1.78
opencv_python_headless==4.8.1.78
pyquaternion==0.9.9
PyYAML==6.0.1
Requests==2.31.0
scipy
Shapely==2.0.3
skylibs==0.7.4
termcolor==1.1.0
tqdm==4.66.1
trimesh==4.1.6
tensorflow==2.11.0
waymo-open-dataset-tf-2-11-0==1.6.1
pytorch_lightning
joblib
pandas
albumentations==0.5.2
hydra-core
tabulate
webdataset
packaging
timm
wldhx.yadisk-direct
jpeg4py
lmdb
pudb==2019.2
imageio-ffmpeg
omegaconf
test-tube>=0.7.5
streamlit>=0.73.1
einops==0.3.0
torch-fidelity==0.3.0
transformers==4.3.1